In [9]:
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

Phool = sns.load_dataset('iris')
Phool.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
label = LabelEncoder()
Phool['species'] = label.fit_transform(Phool['species'])
Phool

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [3]:
x = Phool.iloc[:,0:4]
y = Phool.iloc[:, -1]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [4]:
Phool.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size =0.7, random_state = 0)
print("Data is splited Successfully")

Data is splited Successfully

In [6]:
model = LinearRegression()
model.fit(x_train, y_train)
print("Model is trained successfully")

Model is trained successfully

In [7]:
y_pred = model.predict(x_test)
y_pred

array([ 2.0800217 ,  0.96538248, -0.16059841,  1.82145864, -0.03279814,
        2.29285464, -0.0343939 ,  1.30521478,  1.26561416,  1.10541716,
        1.61159498,  1.298586  ,  1.24465733,  1.31690327,  1.35492326,
       -0.10346345,  1.37219354,  1.26672646,  0.03680825, -0.05379679,
        1.83399503,  1.43837459,  0.11282152,  0.05064127,  1.59191577,
       -0.10797474,  0.16648933,  1.17025174,  0.9383186 ,  0.10722461,
        1.74762851,  1.47239343, -0.0686736 ,  1.63311215,  2.00534368,
        1.28851961, -0.04742887,  1.59936929,  1.30364572,  1.10409738,
        1.84963128, -0.03385706,  1.83128696,  0.21749054, -0.10640568])

In [8]:
print('Trianing: ', model.score(x_train, y_train)*100)
print('Testing: ', model.score(x_test, y_test)*100)

Trianing:  93.89886908738937
Testing:  89.98261101639004

In [15]:
print('Accuracy Score: ', metrics.mean_absolute_error(y_test, y_pred))

Accuracy Score:  0.19781443339791985