In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

df = pd.read_csv('Rainfall.csv')
df

      Rainfall - (MM)   Year      Month
0            40.42580   1901    January
1            12.30220   1901   February
2            25.51190   1901      March
3            14.29420   1901      April
4            38.30460   1901        May
...               ...    ...        ...
1387         60.60610   2016     August
1388         13.76940   2016  September
1389          1.07552   2016    October
1390          2.88480   2016   November
1391          7.82298   2016   December

[1392 rows x 3 columns]

In [2]:
df.isnull().sum()

Rainfall - (MM)    0
 Year              0
Month              0
dtype: int64

In [3]:
df.nunique()

Rainfall - (MM)    1392
 Year               116
Month                12
dtype: int64

In [4]:
# df['Month'] = LabelEncoder().fit_transform(df['Month'])
# # df
# num = [1,2,3,4,5,6,7,8,9,10,11,12]
# li = df['Month'].unique().tolist()
# for i in range(len(li)):
#     df['Month']= df['Month'].replace(li[i], num[i])

In [5]:
df

      Rainfall - (MM)   Year      Month
0            40.42580   1901    January
1            12.30220   1901   February
2            25.51190   1901      March
3            14.29420   1901      April
4            38.30460   1901        May
...               ...    ...        ...
1387         60.60610   2016     August
1388         13.76940   2016  September
1389          1.07552   2016    October
1390          2.88480   2016   November
1391          7.82298   2016   December

[1392 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1392 entries, 0 to 1391
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rainfall - (MM)  1392 non-null   float64
 1    Year            1392 non-null   int64
 2   Month            1392 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 32.8+ KB

In [7]:
df.describe()

       Rainfall - (MM)         Year
count      1392.000000  1392.000000
mean         25.142392  1958.500000
std          22.239632    33.497105
min           0.105840  1901.000000
25%           9.586635  1929.750000
50%          19.653750  1958.500000
75%          33.753075  1987.250000
max         154.055000  2016.000000

In [19]:
y = df['Month']
print(y.unique())
x = df.iloc[:, [0,1]]
x

['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']

      Rainfall - (MM)   Year
0            40.42580   1901
1            12.30220   1901
2            25.51190   1901
3            14.29420   1901
4            38.30460   1901
...               ...    ...
1387         60.60610   2016
1388         13.76940   2016
1389          1.07552   2016
1390          2.88480   2016
1391          7.82298   2016

[1392 rows x 2 columns]

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [21]:
Tree = tree.DecisionTreeClassifier().fit(x, y)

Tree.predict([[61.60610, 2016]])

c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['July'], dtype=object)

In [22]:
from random import random


Tree = tree.DecisionTreeClassifier(criterion="gini", random_state=0, max_depth=10, min_samples_leaf=3)
Tree.fit(x_train, y_train)
y_pred = Tree.predict(x_test)

In [27]:
# rows, col = y_test.shape
pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

        Actual Predicted
669    October     March
330       July     March
1032   January  February
442   November  November
141    October  November
...        ...       ...
1063    August      July
1012       May  November
1247  December     March
1319  December   October
839   December   October

[279 rows x 2 columns]

In [28]:
accuracy_score(y_test, y_pred)

0.21863799283154123

In [29]:
# Train & Save Model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(x,y)
joblib.dump(model, 'rainfall_model.joblib')

['rainfall_model.joblib']

In [30]:
# how to run as saved model

In [31]:
# grphical representation of the tree
tree.export_graphviz(model, out_file="rainy.dot",
                     feature_names = ['Rainfall - (MM)','Year'], 
                     class_names = sorted(y.unique()),
                     label = 'all',
                     filled = True,
                     rounded =True)